body{
	background-color:#8a8adb;
}

header{
		background-color: #b3b3ff;
		margin-bottom: 20px;
}

.navbar{
	background-color: #003b6f;
	color: white;
}


.navbar-light .navbar-brand{
	color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Menu-thin-circular-outlined-button.svg);
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}


h3{
	text-align:center;
}

.fix li{
	margin-left: 40%
}

.fix{
	border:solid;
	border-width: medium;
	border-color: #8a8adb;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000066;
	border-radius:20px;
	font-size: 26px;
}

.home{
	background-color: RGB(32,56,100);
	color: RGB(214,220,229);
}

.away{
	background-color: RGB(210,0,0);
	color: RGB(255,199,199);
}

h1{
	color: #000000;
	font-family: "Bungee Inline";
	text-align: center;
	font-size: 25px;
}

.intro{
	color: black;
	padding: 10px;
	padding-top: 0px;
	text-align: center;
}

@media only screen and (min-width: 1281px) {

   .fix { 
      font-size: 16px; 
   }
