body{
	background-color:#8a8adb;
}


h3{
	text-align:center;
}

.fix li{
	margin-left: 40%
}

.fix{
	border:solid;
	border-width: medium;
	border-color: #8a8adb;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000066;
	border-radius:20px;
	font-size: 26px;
}


.home{
	background-color: RGB(32,56,100);
	color: RGB(214,220,229);
}

.home:hover{
	background: radial-gradient(RGB(35,56,100),RGB(0,0,0));
}

.away{
	background-color: RGB(210,0,0);
	color: RGB(255,199,199);
}

.away:hover{
	background: radial-gradient(RGB(210,0,0),RGB(0,0,0));
}

h1{
	color: #000000;
	font-family: "Bungee Inline";
	text-align: center;
}

.intro{
	color: black;
	padding: 10px;
	padding-top: 0px;
	text-align: center;
}



@media only screen and (min-width: 1281px) {

   .fix { 
      font-size: 16px; 
   }
