body{
	background-image: url("pitch.jpg");
	background-size: cover;
}

.container{
	margin left: auto;
	margin-right: auto;
	padding left: 0px;
	padding-right: 0px;
}

.container-fluid{
	margin-left: 50px;
}


div {
	color: black;
}

.navbar-inverse{
	background-color: #003b6f;
}

.navbar-header{
	color: white;
	size: 100px;
}

h1{
	color: #000000;
	font-family: "Bungee Inline";
	text-align: center;
}

h2{
	font-family: "Bungee Inline";
}


.playerBio{
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-color: white;
	width: 500px;
	padding-left: 5px;
}

.player{
	background-color:#003b6f;
	padding: 10px;
	width: 500px;
}

.playerPic{
	margin-left: 97.5px;
}

.actionShots{
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.actionPics{
	padding-bottom: 10px;
}