body{
	background: radial-gradient(#3636b0,#8a8adb);
}

.container{
	margin left: auto;
	margin-right: auto;
	padding left: 0px;
	padding-right: 0px;
}

.container-fluid{
	margin-left: 50px;
}


div {
	color: black;
}

.navbar{
	background-color: #003b6f;
	color: white;
}

.navbar-light .navbar-brand{
	color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Menu-thin-circular-outlined-button.svg);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

h1{
	color: #000000;
	font-family: "Bungee Inline";
	text-align: center;
}

h2{
	font-family: "Bungee Inline";
}


.playerBio{
	border-style: solid;
	border-color: black;
	border-width: 2px;
	background-color: white;
	width: 500px;
	padding-left: 5px;
}

.player{
	background-color:#003b6f;
	padding: 10px;
	width: 500px;
}

.playerPic{
	margin-left: 97.5px;
}

.actionShots{
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.actionPics{
	padding-bottom: 10px;
}