/*...............................header*/

header{
		background-color: #b3b3ff;
		border-bottom-color: #003b6f;
		border-bottom-width: medium;
		border-bottom-style: solid
}

.navbar{
	background-color: #003b6f;
	color: white;
}

.navbar-light .navbar-brand{
	color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/09/Menu-thin-circular-outlined-button.svg);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

/*..............................section*/

body{
	background: radial-gradient(#3636b0,#8a8adb);
}

section{
	margin: 10px;
}

video{
	width: 100%;
	height: auto;
}

h1{
	color: #000000;
	font-family: "Bungee Inline";
	text-align: center;
}


.goal{ 
	justify-content: center;
	text-align: center;
	margin-bottom: 50px;
}

.news{
	background-image: url("../Pictures/Newspaper2.jpg");
	background-size: contain;
	background-color: #fefff9;
	border-color: #000000;
	border-style: solid;
	height: auto;
	margin-bottom: 10px;
	margin-top: 10px;

}

article{
	color: black;
	font-weight: bold;
}

.intro{
	color: black;
	padding: 10px;
	padding-top: 0px;
	text-align: center;
}

/*...........................footer*/

footer{
	background-color: #b3b3ff;
	color: #003b6f;
	min-height:120px; 
	margin-top: 50px;
	padding-top: 10px;
	border-top-color: #003b6f;
	border-top-width: medium;
	border-top-style: solid;
}

.social-links li a i{
	color: #003b6f;
	font-size: 40px;
}

.footer-navbar li{
	color: #003b6f;
}


footer ul li i{
	color: #003b6f;
	padding-right:10px;
}

footer a{
	color: #003b6f;
}

.about{
	padding-bottom: 10px;
}

/*...............................Fanzone*/

.fanzone-video{
    max-width: 100%;
    max-height: 100%;
}

.pics img{
    border: solid;
	border-style: double;
	border-color: black;
	border-width: 10px;
	margin-bottom: 20px;
	max-height: 100%;
	max-width: 100%;
}

.latest-pics{
	margin-top: 50px;
}

/*...............................Squad list*/
.player h1{
	color: RGB(189,215,238);
	text-align: center;
	font-size: x-large

}

h2{
	font-family: "Bungee Inline";
	font-size: larger;
	color:black;
}

.player{
	margin-top: 50px;
	background-color: RGB(0, 32,96);
	border:solid;
	border-radius:20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

}

.player:hover{
	background: radial-gradient(RGB(93,155,255),RGB(0,32,96));
}

.player td{
	text-align: left;
	color: white;
	font-weight: bold;
}

.player img {
   width: 100px;
   height: 150px;
}

.player ul li i{
	color: RGB(189,215,238);
	padding-right:10px;
}

.player h5{
	color: RGB(189,215,238);
	padding-top: 20px;
}

/*...............................fixture list*/

h3{
	text-align:center;
}

.fix li{
	margin-left: 40%
}

.fix{
	border:solid;
	border-width: medium;
	border-color: #8a8adb;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000066;
	border-radius:20px;
	font-size: 26px;
}


.home{
	background-color: RGB(32,56,100);
	color: RGB(214,220,229);
}

.home:hover{
	background: radial-gradient(RGB(35,56,100),RGB(0,0,0));
}

.away{
	background-color: RGB(210,0,0);
	color: RGB(255,199,199);
}

.away:hover{
	background: radial-gradient(RGB(210,0,0),RGB(0,0,0));
}

@media only screen and (min-width: 1281px) {

   .fix { 
      font-size: 16px; 
   }
	
}

/*.................................tickets form*/

label{
	margin:10px;
	display: inline-block;
}

legend{
	margin: 10px;
}

input{
	float: right;
	color: black;
	width: 50%;
}

form{
	color: #cccccc;
	background-color: #003b6f;
}

legend{
	color: #cccccc;
}

.flexContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
	border-style: solid;
	border-color: black;
	border-radius: 10px;	
	background-color: #003b6f; 
}

.form-image img{
    border: solid;
	border-style: double;
	border-color: black;
	border-width: 10px;
	margin-bottom: 20px;
	max-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: row;
}

.form-image{
	padding: 20px 10px 5px 10px
}

@media screen and (min-width: 1000px){

form{
	width: 450px;
}


.flexContainer{
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: flex-start; 
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	margin: 5px;	
	padding:5px 5px 10px 5px;
	background-color: #003b6f; 
}

.button{
	width: auto;
}

.btn-primary {
    color: #fff;
    background-color: #003b6f;
    border-color: #007bff;
}

input{
	width: 60%;
	display: inline-block;
	margin-right: 10px;
	color: black;
}
	
.form-image {

	padding: 50px 100px 50px 100px
}
}
