body{
	background-image: url("pitch.jpg");
	background-size: cover;
}

.container{
	margin left: auto;
	margin-right: auto;
	padding left: 0px;
	padding-right: 0px;
}


div {
	color: black;
}

.navbar-inverse{
	background-color: #003b6f;
}

.navbar-header{
	color: white;
	size: 100px;
}

h1{
	color: #000000;
	font-family: "Bungee Inline";
	text-align: center;
}

h2{
	font-family: "Bungee Inline";
}

.goal{
	padding:5px; 
	justify-content: center;
	text-align: center;
}

.news{
	background-image: url("Newspaper2.jpg");
	background-size: contain;
	background-color: #fefff9;
	color: black;
	border-color: #000000;
	border-style: solid;
	height: auto;
	margin-bottom: 10px;
}



.slideShow{
	border-color: #000000;
	border-style: solid;
}

video{
	border-style: solid;
	border-color: black;
}
