body{
	background: radial-gradient(#3636b0,#8a8adb);
}

.container{
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;
}

label{
	margin:10px;
	display: inline-block;
}

legend{
	margin: 10px;
}

input{
	display: inline-block;
	float: right;
	color: black;
	width: 50%;
}

form{
	
	color: #cccccc;
	background-color: #003b6f;
}

legend{
	color: #cccccc;
}

.flexContainer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
	border-style: solid;
	border-color: black;
	border-radius: 10px;	
	background-color: #003b6f; 
}

.images{
	display: flex;
	margin-top: 50px;
	padding-top: 0px;
	border-style: double;
	border-color: #cccccc;
	border-width: 10px;
	justify-content: center;

}

@media screen and (min-width: 1000px){

form{
	width: 450px;
}


.flexContainer{
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: flex-start; 
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	margin: 5px;	
	padding:5px 5px 10px 5px;
	background-color: #003b6f; 
}

.images{
	display: flex;
	margin-left: 125px;
	margin-top: 0px;
	padding-top: 0px;
	align-self: flex-start;
	border-style: double;
	border-color: #cccccc;
	border-width: 10px;

}

.button{
	width: auto;
}

input{
	width: 60%;
	display: inline-block;
	float: right;
	margin-right: 10px;
	color: black;
}}