body{
	background-color: #b3b3ff;
}

.container{
	margin left: auto;
	margin-right: auto;
	padding left: 0px;
	padding-right: 0px;
}

.navbar-inverse{
	background-color: #003b6f;
}

.navbar-header{
	color: white;
	size: 100px;
}

label{
	margin:10px;
	display: inline-block;
}

legend{
	margin: 10px;
}

input{
	width: 60%;
	display: inline-block;
	float: right;
	margin-right: 10px;
	color: black;
}

form{
	padding:5px;
	width: 100%;
	color: #cccccc;
	background-color: #003b6f;
}

legend{
	color: #cccccc;
}


@media screen and (min-width: 1000px){

body{
	background-image: url("pitch.jpg");
	background-size: cover;
}


form{
	width: 450px;
}


.flexContainer{
	display: flex;
	flex-direction: row;
	align-items:center;
	justify-content: flex-start; 
	width: 	1200px;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	margin-left: 120px;	
	padding:5px 5px 10px 5px;
	background-color: #003b6f; 
}

.fixInfo{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: flex-start; 
}

.images{
	display: flex;
	margin-left: 125px;
	padding-top: 0px;
	align-self: flex-start;
	border-style: double;
	border-color: #cccccc;
	border-width: 10px;
	box-shadow: 
}

.fix{
	border-style: solid;
	border-radius: 10px;
	border-color: #bfbfbf;
	align-self: flex-start;
	margin-top: 15px;
	margin-left: 225px;
	font-size: 16px;
	width: 300px;
	background-color: white;
	align-content: top;
	padding-left: 10px;
}

.button{
	width: 200px;
}
}